* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Beaufort for LOL BI";
  src: url('../assets/beaufort-for-lol/BeaufortforLOL-BoldItalic.ttf') format('truetype');
}

body {
  margin: 0;
  padding: 0;
  background-color: #091428;
  color: white;
  font-family: "Beaufort for LOL BI", serif;
  font-size: 20px;
  letter-spacing: 0.05em;
}

.frame {
  width: fit-content;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

h2 {
  padding-top: 2rem;
  padding-bottom: 1rem;
  text-align: center;
  font-size: 3rem;
  color: #785A28;
}

#class-buttons {
  padding-bottom: 1rem;
}

@font-face {
  font-family: "Beaufort for LOL I";
  src: url('../assets/beaufort-for-lol/BeaufortforLOL-Italic.ttf') format('truetype');
}

.btn {
  width: fit-content;
  color: #A09B8C;
  font-family: "Beaufort for LOL I";
  font-size: 1.5rem;
}

.btn:hover {
  color: #C8AA6E;
}

.champion-info {
  background-color: #0A323C;
  width: 250px;
}

.champion-name {
  padding: 20px 0 20px 20px;
}

.champion-price {
  padding-right: 20px;
}

.be-price {
  color: #C8AA6E;
  font-size: 15px;
  letter-spacing: 0.03em;
}

.be-price img {
  margin-top: -4px;
  height: 18px;
}

.rp-price {
  color: #C8AA6E;
  font-size: 15px;
  letter-spacing: 0.03em;
  margin-left: 3px;
}

.rp-price img {
  margin-top: -3px;
  width: 14px;
}